<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
 <appSettings>
      <!-- Amazon Credentials -->
      <add key="AWSAccessKey" value="YOUR ACCESS KEY HERE" />
      <add key="AWSSecretKey" value="YOUR SECRET KEY HERE" />

      <!-- SQS Queue Names -->
      <add key="SourceQueue" value="NAME_OF_THE_SOURCE_QUEUE"/>
      <add key="TargetQueue" value="NAME_OF_THE_TARGET_QUEUE" />
   
      <!-- Amazon queue details -->
      <add key="AWSProfileName" value="" />

      <add key="LogThreshold"        value="10000" />
      <add key="MessagesPerDequeue"  value="10" />
      
    </appSettings>
</configuration>